/*community_people.html*/
.community-people-manage .small-button-text{
	justify-content: space-around;
}
.community-people-manage .sb-card-foot select{
	width: 35%;
	min-width: 56px;
	min-height: 30px;
	font-size: inherit;
}
.community-people-manage .sb-card-foot option{
	font-size: inherit;
}
.community-people-manage .sb-card-body{
	height: calc(5.75rem + 330px);
	overflow: auto;
}
.people-jolin .sb-card-body>div{
	flex-wrap: wrap;
}
.people-jolin .sb-card-list{
	margin: .5rem 0;
}
.people-jolin .sb-card-list input{
	padding: 0 .5rem;
}

.sb-card .admin-manage-result{
	display: //none;
}
.sb-card .admin-manage-result-show{
	display: block;
}
/*mine-community.html*/
.community-joined .sb-card-body span{
	width: calc(100% - 64px);
	display: inline-block;
}
.community-current{
	color: var(--主色)!important;
	order: -1;
}
/*regist.html*/












/*setting.html*/
.setting_card{
	width: 100%;
	min-width: 250px;
	max-width: 500px;
	height: 100%;
	margin: auto;
}
.setting_list{
	width: 100%;
	margin-bottom: 15px;
}
.setting_list>div{
	width: 100%;
}
.setting_tag{
	height: 30px;
	padding: 5px;
	color: #727272;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}
.setting_list>div+div{
	height: 46px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #C0C0C0;
}
.setting_text span{
	font-size: 20px;
	line-height: 20px;
	display: block;
}
.setting_text span+span{
	font-size: 12px;
	line-height: 15px;
}
.setting_icon{
	width: 30px;
	height: 30px;
}
.setting_icon svg{
	width: 30px;
	height: 30px;
	fill: #727272;
	transform: scale(1,-1);
}
.binding svg{
	fill: #51C332;
}
.user_UI{
	width: 26px;
	height: 26px;
	margin: 2px;
	border-radius: 6px;
	background-color: #F29600;
}
.delete_account svg{
	fill: #E6162D;
}
/*log_in.html*/
.log_card{
	height: 100vh;
	min-height: 360px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.app_name{
	height: 40vh;
	min-height: 130px;
	max-height: 230px;
	width: 100%;
	min-width: 220px;
	max-width: 550px;
	padding: 20px;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.app_title{
	width: 100%;
	height: 100%;
	min-height: 100px;
	max-height: 200px;
	margin: auto;
	margin-bottom: 5px;
	background-image: url(../image/sttxl.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.log_type{
	height: 170px;
	width: 100%;
	padding: 0;
	padding-bottom: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.log_type button{
	height: 34px;
	width: 162px;
	padding: 0;
	border: solid 1px #AAAAAA;
	display: flex;
	align-items: center;
	border-radius: 34px;
}
.log_type img{
	height: 32px;
	width: 32px;
	display: inline-block;
}
.log_type span{
	height: 32px;
	width: 130px;
	color: #F7F7F7;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
	display: inline-block;
}
.log_weibo{
	background-color: #E6162D;
}
.log_qq{
	background-color: #2a9cd5;
}
.log_wechat{
	background-color: #51c332;
}
.log_type a{
	height: 20px;
	color: #707070;
	margin-top: 10px;
}
