/*全局样式*/

@font-face {
	font-family: "NotoSans";
	src: local("Noto Sans")
}


/*标题：*/


/*一级标题：主标题、突出标题*/

.title_main {
	font-size: 20pt;
	font-weight: 700;
	color: #000000;
}


/*二级标题：模块标题*/

.title_minor {
	font-size: 16pt;
	font-weight: 500;
	color: #353535;
}


/*二级副标题：解释、补充二级标题*/

.title_afterminor {
	font-size: 11pt;
	font-weight: 500;
	color: #888888;
}


/*三级标题：分类标题*/

.title_sort {
	font-size: 12pt;
	font-weight: 500;
	color: #888888;
}


/*文本：*/


/*一级文本：主要信息*/

.content_main {
	font-size: 14pt;
	font-weight: 500;
	color: #353535;
}


/*二级文本：大段信息、标签*/

.content_minor {
	font-size: 12pt;
	font-weight: 400;
	color: #353535;
}


/*三级文本：解释、补充*/

.content_sort {
	font-size: 8pt;
	font-weight: 500;
	color: #888888;
}


/*顶栏及选项卡*/

#header-title {
	height: 36px;
	padding-top: 6px;
	box-shadow: 0 5px 5px #ff9800;
	-webkit-box-shadow: 0 5px 5px #ff9800;
	z-index: 10;
	position: static;
}

#nav-title {
	height: 24px;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

#nav-bar {
	position: static;
	height: 30px;
	z-index: 5;
}

#nav-bar a {
	height: 36px;
}

#header-title svg {
	fill: #F0F0F0;
}


/*community CSS*/

body {
	margin: 0;
}

.community_image {
	text-align: center;
	margin-bottom: 5px;
	width: 100%;
	z-index: 5;
}

.community_image img {
	width: 100%;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.community_info {
	margin: auto;
}


/*部门信息*/

.department_title_info {
	margin: 0 20px 0 20px;
}

.department_scroll-view {
	white-space: nowrap;
	overflow-x: scroll;
	padding-right: 10px;
	-webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.department_scroll-view-item {
	display: inline-block;
	width: 150px;
	height: calc(170px+ 26pt);
	margin: 10px 0 10px 10px;
}

.department_image {
	width: 150px;
	height: 150px;
}

.department_detail {
	text-align: center;
	margin-top: 1px;
	margin-bottom: 1px;
}

.department_detail_info {
	text-align: center;
	margin-bottom: 1px;
}


/*社团公告*/

.community_post {
	min-width: 230px;
	max-width: 450px;
	margin: auto;
	overflow: auto;
}

.community_post_card {
	width: calc(100% - 70px);
	background-color: #fffddf;
	margin: 10px 20px 20px 20px;
	padding: 5px 15px 20px 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.community_post_title {
	color: #222222;
	font-size: 20pt;
	line-height: 20pt;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -44px;
	display: block;
}

.community_post_info {
	color: #8f8f94;
	font-size: 11pt;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 0;
	margin-left: -44px;
	display: block;
}

.community_post_text {
	text-indent: 2em;
}


.community_composition span{
	height: 20px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 5px;
	color: #8F8F94;
	font-size: 14px;
	display: inline-block;
	background-color: #F0F0F0;
	border-radius: 20px;
}

/*people.hmtl*/

.department_choose {
	width: 100%;
	padding: 0;
	white-space: nowrap;
	display: flex;
	padding: 0 3px 0 3px;
	margin: 0;
	z-index: 5;
}

.choose_tag {
	text-align: center;
	width: 25%;
	height: 42px;
	color: #e65100;
	padding: 6px 2px 0 2px;
}

.choose_tag button {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}


/*信息卡片*/

.people_group {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	margin-bottom: 10px;
}

.people_card {
	display: flex;
	flex-direction: column;
	width: calc(100% - 20px);
	min-width: 230px;
	max-width: 450px;
	margin-top: 12px;
	padding: 10px 16px 10px 16px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	border: solid #cccccc 1px;
	background-color: #fff;
}

.people_name {
	height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.people_name .people_motion_icon {
	transform: rotate(180deg);
	transition: transform .3s;
}

.people_name_show .people_motion_icon {
	transform: rotate(0deg);
	transition: transform .3s;
}

.people_name_word {
	width: 28px;
	height: 28px;
	color: #ffffff;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	background-image: url(../image/icon_people_HL.png);
	/*用户头像图片*/
	background-size: 100% 100%;
	background-color: #9999ff;
}

.people_name_text {
	width: calc(100% - 90px);
}

.people_phone {
	margin-top: 8px;
}

.people_phone_number,
.people_phone_new {
	height: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 5px;
}

.phone_new_input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.people_phone_new .phone_new_input input {
	border: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.phone_input_line {
	content: " ";
	height: 1px;
	width: 90%;
	background-color: #B0B0B0;
	box-shadow: 0 0 2px #D0D0D0;
	position: relative;
	top: -5px;
}

.peole_number {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.people_number_text {
	text-align: center;
}

.people_number_info {
	height: 12pt;
	font-size: 9pt;
	font-weight: 400;
	color: #888888;
	display: block;
	overflow: hidden;
	-ms-overflow: hidden;
}

.people_info_card {
	max-height: 0;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	visibility: hidden;
	opacity: 0;
	transition: max-height .5s ease-in-out;
	transition: opacity 1s;
}

.people_card .people_info_card_show {
	height: auto;
	max-height: 3000px;
	visibility: visible;
	opacity: 1;
	transition: max-height .5s ease-in-out;
	transition: opacity 1s;
}

.people_info {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.people_info_text {
	width: calc(100% - 100px);
	min-width: 130px;
	font-size: 16px;
}

.people_info_text span {
	margin: 0;
	padding: 0;
}

.people_info_text text {
	display: block;
}

.people_info_lasticon {
	align-self: flex-end;
}

.people_phone_line {
	content: " ";
	height: 1px;
	background-color: #D8D8D8;
}

.people_info_icon {
	width: 22px;
	height: 22px;
	fill: #707070;
	transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
}

.people_motion_icon {
	width: 22px;
	height: 22px;
	fill: #707070;
	transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
}
/*社团信息*/
.community_info_show{
    margin: 10px;
}
.community_info_show .mui-card-footer{
	padding: 0;
}
.community_info_card{
	width: 100%;
}
.community_info_card .mui-card-header{
	display: block;
	padding: 10px 15px 6px 15px;
}
.community_info_title{
	width: 100%;
	color: #242424;
	font-size: 14pt;
	font-weight: 500;
	text-align: center;
}
.community_info_card p{
	margin-bottom: 5px;
}
.community_composition .community_info_hidden{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.community_composition span{
	height: 30px;
	line-height: 30px;
    width: 100px;
    overflow: hidden;
    text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 5px;
	color: #F9F9F9;
	font-size: 16px;
	display: inline-block;
	background-color: #F0AD4E;
	border-radius: 20px;
}
.community_member p{
	display: flex;
	justify-content: center;
}
.community_member_duties{
	width: 50%;
	display: inline-block;
	text-align: right;
}
.community_member_name{
	width: calc(50% - 1.5em);
	display: inline-block;
	text-align: left;
}
.new_community_info{
	width: 25px;
    height: 25px;
	margin: auto;
}
.mui-card-footer svg{
	width: 25px;
    height: 25px;
    fill: #707070;
    transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
}
.community_info_show .mui-card-footer:before{
	height: 0;
}

/*mine.html*/

.mine_circular_blank {
	display: none; //没有新添加号码时隐藏
}

.mine_circular_new {
	width: calc(100% - 20px);
	min-width: 230px;
	max-width: 450px;
	margin: 10px auto;
	margin-bottom: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.circular_new_text {
	text-align: center;
	height: 106px;
	padding: 10px 10% 1px 10%;
}

.mine_circular_button {
	display: flex;
	justify-content: space-between;
}

.mine_circular_button div {
	width: calc(50% - 0.5px);
	height: 36px;
	display: flex;
	align-items: center;
}

.mine_circular_button div span {
	margin: auto;
	color: #F0F0F0;
}

.mine_circular_button div span:first-letter {
	letter-spacing: 18pt;
}

.circular_button_done {
	background-color: #32D2C8;
	z-index: 1;
}

.circular_button_close {
	background-color: #FA6482;
	z-index: 1;
}

.mine_circular_button .circular_button_line {
	width: 1px;
	height: 36px;
	padding: 0;
	margin: 0;
	background-color: #787878;
	z-index: 2;
}

.mine_people_card {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mine_people_name {
	width: 100%;
	text-align: center;
}

.mine_people_card .people_info .people_info_text span {
	display: block;
	margin-bottom: 5px;
}

.mine_people_card .people_info .people_info_text span button,
.mine_people_card .people_info .people_info_text span input {
	height: 23px;
	width: calc(100% - 50px);
	font-size: 16px;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	border: none;
}

.mine_people_card .people_info_text span div {
	width: calc(100% - 40px);
	margin-left: 40px;
}

.mine_people_card .people_phone_number .people_motion_icon {
	fill: #FF4141;
}


/*Regist.html*/

.regist_card .people_card {
	align-items: center;
}

.regist_card .people_name {
	height: 38px;
	flex-direction: column;
	margin: auto;
}

.regist_card .people_name .people_number_info {
	font-weight: 300;
}

.regist_card .people_name .phone_input_line {
	top: 2px;
}

.regist_card .people_phone div {
	justify-content: space-around;
}

.regist_card .people_phone .people_phone_number div,
.regist_card .people_phone .people_phone_new div {
	min-width: 176px;
}

.regist_card .people_phone .people_phone_number input,
.regist_card .people_phone_new .phone_new_input input {
	width: 180px;
	border: none;
	font-weight: 400;
	text-align: center;
	padding: 0;
	margin: 0;
}

.regist_card .people_info {
	justify-content: space-around;
}

.regist_card .people_info .people_info_text {
	min-width: 160px;
}

.regist_card .people_card .people_info_card .people_info_text input {
	font-weight: 400;
}

.regist_card_button {
	display: flex;
	justify-content: center;
}

.regist_card_button button {
	height: 28px;
	width: 80%;
	margin-top: 6px;
	border: none;
	background-color: #FF6D00;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.regist_card_button svg {
	fill: #F3F3F3;
}


/*new_community.html*/
.new_community_card .people_card .people_name{
	height: 26px;
	margin-top: 6px;
	flex: initial;
}
.new_community_card .people_info_card .people_phone_number select{
	border-radius: 1px;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	height: 30px;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
}
.community_verifi_icon{
	width: 28px;
	height: 28px;
}
.new_community_verifi{
	font-weight: 400;
	border: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.community_verifi_question{
	height: 36px;
}
.new_community_card .people_phone_number{
	height: 100%;	
}
.my_added_community .people_phone_number{
	margin-top: 18px;
	height: 32px;
}
.my_added_community .people_phone_number div span{
	text-align: left;
}

/*community_info.html*/
.post_title_change{
	width: 80%;
	margin-left: 0;
}
.post_title_change textarea{
	height: 30px;
	font-size: 22px;
	text-align: center;
	margin: 0;
	padding: 10px;
	padding-bottom: 0;
	border: none;
}
.post_title_change .people_phone_line{
	background-color: #B0B0B0;
	box-shadow: 0 0 2px #D0D0D0;
}
.community_post_change .community_post_text{
	text-indent: 0;
}
.community_post_text textarea{
	margin: 0;
}
.community_post_action{
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
}
.community_post_action_new{
	justify-content: center;
}

.mui-card .community_image_change{
	margin: 0;
	margin-bottom: -10px;
}
.community_image_change a{
	width: 100%;
	position: absolute;);
	z-index: 20;
}
.community_image_change svg{
	fill: #727272;
	width: 10%;
	min-width: 25px;
	max-width: 50px;
	transform: scale(1,-1);
	-webkit-transform: scale(1,-1);
}
.community_info_textarea + img{
	opacity: 0.5;
}
.community_info_textarea{
	text-indent: 0;
}
.community_info_textarea p{
	font-size: 13px;
	margin: 0;
	margin-left: 10px;
	display: inline-block;
}
.community_info_show textarea{
	margin: 0;
	padding: 5px;
}
/*变更社团信息*/
.community_info_textarea{
	display: none;
}
/*.community_info_hidden{
	display: none;
}*/
