/*全局样式*/
/*宽度响应*/
html {
    /* iPhone6的375px尺寸作为16px基准，600px正好18px大小 */
    --root-rem: calc(100% + 2 * (100vw - 375px) / 225);
}
@media screen and (max-width: 299px) {
	html{
		--root-rem: 14px;
	}
}
@media screen and (min-width: 400px) and (max-width: 599px) {
    html {
        /* 400px-600px每100像素宽字体增加1px(18px-22px) */
        --root-rem: calc(112.5% + 4 * (100vw - 600px) / 400);
    }
}
@media screen and (min-width: 600px) and (max-width: 999px) {
    html {
        /* 600px往后是每100像素0.5px增加 */
        --root-rem: calc(137.5% + 5 * (100vw - 1000px) / 1000);
    }
    .body{
    	width: 80%;
    	max-width: 650px;
    }
}
@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是22px */
        --root-rem: 22px;
    }
    .body{
    	width: 650px;
    }
}
/*全局*/
:root{
	/*颜色主题-橙黑*/
	--深主色: #E64A19;
	--主色: #FF5722;
	--浅主色: #FFCCBC;
	--图标色: #727272;
	--强调色: #00BCD4;
	--按钮内容: rgba(255,255,255,1);
	--纯色文字: rgba(0,0,0,1);
	--普通文字: rgba(0,0,0,0.87);
	--减淡文字: rgba(0,0,0,0.54);
	--提示文字: rgba(0,0,0,0.26);
	--分隔线: rgba(0,0,0,0.12);
	--确认色: #18A15F;
	--警告色: #FF4141;
	--提示色: #FFEB3B;
	}
#var{
	width: var(--root-rem);
	height: var(--root-rem);
	margin: var(--root-rem);
	padding: var(--root-rem);
	top: var(--root-rem);
	right: var(--root-rem);
	bottom: var(--root-rem);
	left: var(--root-rem);
	background-size: var(--root-rem);
}
.done{
	fill: var(--确认色);
	background-color: var(--确认色);
}
.cancel{
	fill: var(--警告色);
	background-color: var(--警告色);;
}
/*设置默认值*/
html{
	font-family: 'roboto',
	"Noto Sans", 
	NotoSans,
	"Noto Sans CJK SC", 
	"Source Han Sans CN",
	Tahoma,
	Helvetica, 
	'Hiragino Sans GB', 
	'Microsoft Yahei', 
	'微软雅黑', 
	Arial, sans-serif;
	font-size: var(--root-rem);
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	line-height: 1.6rem;
	background-color: #EFEFF4;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	outline: none;
	-webkit-tap-highlight-color: transparent
}
::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.body{
	min-width: 250px;
	margin: 0 auto;
	padding: 0 10px;
}
.body>div:first-child{
	margin-top: 10px;
}
div,p,span,a,button,input,textarea,select,option,textarea{
	/*用到的元素*/
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: inherit;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}
[type=checkbox]{
	width: 1.25rem;
	height: 1.25rem;
}
div{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
p,textarea{
	text-indent: 2em;
	text-align: justify;
}
a{
	width: 100%;
	display: inline-block;
	 text-decoration: none
}
.text-align-left
{
	text-align: left;
}
.text-align-right{
	text-align: right;
}

/*文字样式*/
.big-title{
	color: var(--纯色文字)!important;
	font-size: 1.75rem!important;/*28px*/
	font-weight: 600!important;
	line-height: 2.125rem!important;/*34px*/
}
.normal-title{
	color: var(--普通文字)!important;
	font-size: 1.5rem!important;/*24px*/
	font-weight: 500!important;
	line-height: 1.875rem!important;/*30px*/
}
.small-title{
	color: var(--减淡文字)!important;
	font-size: 1.125rem!important;/*18px*/
	font-weight: 500!important;
	line-height: 1.5rem!important;/*24px*/
}
.normal-text{
	color: var(--普通文字)!important;
	font-size: 1.25rem!important;/*20px*/
	font-weight: 400!important;
	line-height: 1.625rem!important;/*26px*/
}
.small-text{
	color: var(--普通文字)!important;
	font-size: 1rem!important;/*16px*/
	font-weight: 400!important;
	line-height: 1.625rem!important;/*26px*/
}
.point-text{
	color: var(--提示文字)!important;
	font-size: 0.875rem!important;/*14px*/
	font-weight: 400!important;
	line-height: 1.125rem!important;/*18px*/
}
.big-button-text{
	color: var(--按钮内容)!important;
	font-size: 1.5rem!important;/*24px*/
	font-weight: 500!important;
	line-height: 1.875rem!important;/*30px*/
}
.small-button-text{
	color: var(--按钮内容)!important;
	font-size: 0.875rem!important;/*14px*/
	font-weight: 400!important;
	line-height: 1.125rem!important;/*18px*/
}
/*卡片（展示、填写信息，圆角）*/
.sb-card{
	width: calc(100% - 10px);
	padding: 10px 20px;
	margin: 5px auto;
	border: none;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
.sb-card>div{
	width: 100%;
	min-height: 30px;
	padding: 0.25rem .5rem;
	margin: .125rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sb-card>div+div{
	border-top: solid 1px var(--分隔线);
}
.sb-card-head{
	margin: .25rem;
}
.sb-card-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sb-card-foot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.sb-card-list{
	margin: .25rem 0;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}
/*sb-card 内部组件*/
/*select*/
.sb-card-foot select{
	width: 10.5rem;
	min-height: 30px;
	font-size: inherit;
}
/*textarea高度自适应*/
.flex-text-wrap {
    position: relative;

    *zoom: 1;
}

textarea,
.flex-text-wrap {
    outline: 0;
    margin: 0;
    border: none;
    padding: 0;

    *padding-bottom: 0 !important;
}

.flex-text-wrap textarea,
.flex-text-wrap pre {
    white-space: pre-wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    
    *white-space: pre;
    *word-wrap: break-word;
}

.flex-text-wrap textarea {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    resize: none;

    /* IE7 box-sizing fudge factor */
    *height: 94%;
    *width: 94%;
}

.flex-text-wrap pre {
    display: block;
    visibility: hidden;
}

textarea,
.flex-text-wrap pre {
    /*
     * Add custom styling here
     * Ensure that typography, padding, border-width (and optionally min-height) are identical across textarea & pre
     */
    font-size: inherit;
    border: inherit;
}
/*input text 点击效果*/
.sb-card .input-text{
	width: 10.5rem;
	height: calc(1.625rem + 2px);
	margin: 0.125rem 0.625rem 0 0.625rem;
	border-bottom: solid 1px var(--分隔线);
	display: flex;
	flex-direction: column;
}
.sb-card [type=text]::-webkit-input-placeholder,
.sb-card textarea::-webkit-input-placeholder{
	color: initial;
	opacity: .57;
	transition: color .2s ease-in-out;
}
.sb-card textarea::-webkit-input-placeholder{
	text-indent: 0;
	text-align: center;
}
.sb-card [type=text]:hover::-webkit-input-placeholder,
.sb-card textarea:hover::-webkit-input-placeholder{
	opacity: .3;
}
.sb-card [type=text]:focus::-webkit-input-placeholder,
.sb-card textarea:focus::-webkit-input-placeholder{
	color: var(--强调色)!important;
	transition: color .2s ease-in-out;
}
.sb-card [type=text]+.focus-line,
.sb-card textarea+.focus-line{
	margin: 0 auto;
	height: 2px;
	width: 0%;
	background-color: var(--强调色);
	display: inline-block;
	transition: width .3s ease-in-out; 
}
.sb-card [type=text]:focus+.focus-line,
.sb-card textarea:focus+.focus-line{
	width: 100%;
	transition: width .2s ease-in-out; 
}
/*个人信息sb-card-body嵌套*/
.small-text>div{
	align-items: flex-start;
}
.small-text .small-text{
	width: 10.5rem;
	justify-content: center;
}
.small-text .small-text>div>span{
	width: 4rem;
}
.small-text .small-text select{
	width: 10rem;
    min-height: 30px;
    font-size: inherit;
}
.small-text .small-text span+span{
	width: 10rem;
    margin: 0;
}
.small-text .small-text input{
	font-size: inherit!important;
	line-height: inherit!important;
}
/*个人信息手机号宽度*/
.phone-number{
	width: 10.5rem;
}
/*纸张（显示通知，方角）*/
.sb-paper{
	width: calc(100% - 10px);
	padding: 0;
	margin: 5px auto;
	border: none;
	background-color: #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
.sb-paper-content{
	margin: 15px 0;
}
.sb-paper-motion{
	height: 2.675rem;
	min-height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sb-paper-motion button{
	height: 2.675rem;
	min-height: 40px;
	padding: 5px 10px;
	width: 50%;
}
/*圆形容器*/
.circle{
	border-radius: 100%;
}
/*svg*/
svg{
	fill: var(--图标色);
	width: 2rem;
	height: 2rem;
	padding: .125rem;
	margin: .25rem;
}
.img-svg{
	width: 2rem;
	height: 2rem;
	padding: .125rem;
	margin: .25rem;
	border-radius: 100%;
}
.small-svg svg{
	width: 1.5rem;
	height: 1.5rem;
}
.foot-one-svg svg{
	margin: auto;
}
/*权限图标*/
.admin-user{
	display: flex;
}

.admin-5 svg{
	fill: #3f51b5;
}
.admin-4 svg{
	fill: #f44336;
}
.admin-3 svg{
	fill: #ffeb3b;
}
.admin-2 svg{
	fill: #03a9f4;
}
.admin-1{
	visibility: hidden;
}
.admin-0{
	visibility: hidden;
}
