<div class="body community">
	<div class="sb-card community-info">
		<span id="info-input-img" class="community-img">
					<img class="info-input-active" src="image/jdzs.png" />
					<!--这里的两张图片与社团相对应-->
				</span>
		<div class="sb-card-head normal-title">
			金盾之声广播影视中心
			<span class="point-text">社团共有{value}个成员</span>
		</div>
		<div class="sb-card-body normal-text">
			社团简介
			<div class="sb-card-list">
				<p class="small-title info-input-active">
					负责安排学院活动拍摄，制作校园电视节目，学院广播节目录制，LED屏幕的播放管理，协助宣传处承办校内校外的活动，和完成宣传处的其他工作 。
				</p>
			</div>
		</div>
		<div class="sb-card-body normal-text">
			部门组成
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">影视技术部：</span>
				<span class="text-align-left">100人</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">影视部：</span>
				<span class="text-align-left">20人</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">{部门}：</span>
				<span class="text-align-left">{人数}人</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">{部门}：</span>
				<span class="text-align-left">{人数}人</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">{部门}：</span>
				<span class="text-align-left">{人数}人</span>
			</div>
		</div>
		<div class="sb-card-body normal-text">
			主要成员
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">社长：</span>
				<span class="text-align-left">XXX</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">副社长：</span>
				<span class="text-align-left">XX</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">XX部部长：</span>
				<span class="text-align-left">XXX</span>
			</div>
			<div class=" sb-card-list small-title info-input-active">
				<span class="text-align-right">{部门}：</span>
				<span class="text-align-left">{名字}</span>
			</div>
		</div>
	</div>

	<div class="sb-card community-link">
		<!--body竖排，head、foot横排，操作事件放foot-->
		<div class="sb-card-head normal-title">
			社团链接
		</div>
		<div class="sb-card-body normal-text">
			<a class="icon_qzone" target="_blank" href="http://qzone.qq.com">
				<!--href值来自填写的，类型相对应的class-->
				<div></div>
				<span></span>
			</a>
			<a class="icon_qq" target="_blank" href="http://qun.qq.com">
				<!--href值来自填写的，类型相对应的class-->
				<div></div>
				<span></span>
			</a>
			<a class="icon_weibo" target="_blank" href="http://we">
				<!--href值来自填写的，类型相对应的class-->
				<div></div>
				<span></span>
			</a>
			<a class="icon_wechat" target="_blank" href="http://weixin.qq.com">
				<!--href值来自填写的，类型相对应的class-->
				<div></div>
				<span></span>
			</a>
		</div>
	</div>

	<div class="sb-card community-post">
		<div class="sb-card-head normal-title">
			{公告1标题}
			<span class="point-text">{time} 发布者：{person} 来自：{department}</span>
		</div>
		<div class="sb-card-body normal-text">
			<p>
				{公告1内容}
			</p>
		</div>
	</div>

	<div class="sb-card community-post">
		<div class="sb-card-head normal-title">
			首行缩进
			<span class="point-text">2016.12.9 发布者：cxy 来自：home</span>
		</div>
		<div class="sb-card-body normal-text">
			<p>
				段落前面空两个字的距离，不要再使用空格了。应该使用首行缩进text-indent。text-indent可以使得容器内首行缩进一定单位。比如中文段落一般每段前空两个汉字。
			</p>
		</div>
	</div>

</div>