<div class="mui-off-canvas-wrap mui-draggable mui-slide-in menu-index">
	<!-- 菜单容器 -->
	<aside class="mui-off-canvas-left" id="offCanvasSide">
		<!-- 菜单具体展示内容 -->
		<div class="menu-head">
			<div class="menu-person">
				<img class="menu-person-icon" v-bind:src="icon" />
				<!--用户头像-->
				<div class="big-title menu-person-name" v-html="name"></div>
			</div>
			<div class="small-text menu-school" v-html="school"></div>
		</div>
		<div class="menu-body">
			<div class="menu-list-top">
				<div class="menu-new-community">
					<div class="menu-list">
						<svg class="menu-icon-svg menu-important-svg">
							<use xlink:href="#md_person_add"></use>
						</svg>
						<a class="menu-list-text normal-text" href="mine-community.html">加入新社团</a>
					</div>
				</div>
				<div class="menu-choose-community ">
					<div class="menu-list-tag small-title">我的社团</div>
					<div v-for="com in community" v-bind:class="'menu-list '+(com.slct?'menu-choosed':'')" v-bind:index="com.index">
						<!--给当前显示的社团添加类menu-choosed-->
						<img class="menu-icon-img" v-bind:src="com.icon" />
						<!--社团图标-->
						<a class="menu-list-text normal-text">{{com.name}}</a>
					</div>
					<div class="menu-list" v-if="community.length==0">
						<img class="menu-icon-img" />
						<a class="menu-list-text normal-text">未加入社团</a>
					</div>
				</div>
				<div class="menu-mange-community" v-if="ismanager">
					<div class="menu-list-tag small-title">社团管理</div>
					<div class="menu-list">
						<svg class="menu-icon-svg">
							<use xlink:href="#md_forum"></use>
						</svg>
						<a class="menu-list-text normal-text">社团会议室</a>
					</div>
					<div class="menu-list">
						<svg class="menu-icon-svg">
							<use xlink:href="#md_assignment"></use>
						</svg>
						<a class="menu-list-text normal-text">信息管理</a>
					</div>
					<div class="menu-list">
						<svg class="menu-icon-svg">
							<use xlink:href="#md_account_box"></use>
						</svg>
						<a class="menu-list-text normal-text">人员管理</a>
					</div>
					<div class="menu-list">
						<svg class="menu-icon-svg">
							<use xlink:href="#md_perm_contact_calendar"></use>
						</svg>
						<a class="menu-list-text normal-text">管理员设置</a>
					</div>
				</div>
				<div class="menu_more">
					<div class="menu-list-tag small-title">更多</div>
					<div class="menu-list">
						<svg class="menu-icon-svg">
							<use xlink:href="#md_library_add"></use>
						</svg>
						<a class="menu-list-text normal-text">新社团申请</a>
					</div>
					<div class="menu-list">
						<svg class="menu-icon-svg">
							<use xlink:href="#md_live_help"></use>
						</svg>
						<a class="menu-list-text normal-text">帮助</a>
					</div>
				</div>
			</div>

			<div class="menu-list menu-list-bottom">
				<a class="menu-list-text">
					<svg class="menu-icon-svg ">
						<use xlink:href="#md_settings"></use>
					</svg>
					设置
				</a>
				<a class="menu-list-text">
					<svg class="menu-icon-svg">
						<use xlink:href="#md_exit_to_app"></use>
					</svg>
					退出
				</a>
			</div>
		</div>
	</aside>
	<!-- 主页面容器 -->
	<div class="mui-inner-wrap">
		<!-- 主页面标题 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-action-menu mui-pull-left" href="#offCanvasSide">
				<svg class="menu-icon">
					<use xlink:href="#md_menu"></use>
				</svg>
			</a>
			<h1 class="mui-title">当前页面标题</h1>
			<!--显示当前页面标题-->
			<a class="mui-icon mui-action-menu mui-pull-left" href="">
				<!--分享-->
				<svg class="menu-icon">
					<use xlink:href="#md_share"></use>
				</svg>
			</a>
		</header>
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item mui-active" href="comm">
				<svg class="mui-icon">
					<use xlink:href="#md_description"></use>
				</svg>
				<span class="tab-line tab-line-1"></span>
			</a>
			<a class="mui-tab-item" href="cont">
				<svg class="mui-icon">
					<use xlink:href="#md_people"></use>
				</svg>
				<span class="tab-line tab-line-2"></span>
			</a>
			<a class="mui-tab-item" href="mine">
				<svg class="mui-icon">
					<use xlink:href="#md_assignment_ind"></use>
				</svg>
				<span class="tab-line tab-line-3"></span>
			</a>
		</nav>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 主界面具体展示内容 -->
				<div id="commPage"></div>
				<div id="contPage"></div>
				<div id="minePage"></div>
			</div>
		</div>
		<div class="mui-off-canvas-backdrop"></div>
	</div>
</div>